# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type telux_audio_server_t;
    type audio_listener_avb_t;
    type audio_talker_avb_t;
    type vnw_hyp_host_server_t;
    type snd_card_state_t;
    type event_device_t;
    type device_t;
    type binderfs_t;
    type leprop_sock_t;
    type leprop_t;
')

type dma_heap_audio_t;
dev_node(dma_heap_audio_t)
rw_chr_files_pattern(agm_server_t, device_t, dma_heap_audio_t)

audio_data_files_access(agm_server_t)
allow agm_server_t snd_card_state_t:file rw_file_perms;

allow agm_server_t event_device_t:chr_file { open read write };
agm_server_sw_binders_access(agm_server_t)
allow agm_server_t telux_audio_server_t:binder { call transfer };
allow agm_server_t audio_listener_avb_t:binder { call transfer };
allow agm_server_t audio_talker_avb_t:binder { call transfer };
allow agm_server_t vnw_hyp_host_server_t:binder { call transfer };
allow agm_server_t binderfs_t:dir search;
allow agm_server_t leprop_sock_t:sock_file write;
allow agm_server_t leprop_t:unix_stream_socket { connectto };

dlt_allow_user_logging(agm_server_t);
