# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

ifdef(`init_systemd', `
    gen_require(`
        class service status;
    ')
    dontaudit atfwd_t power_unit_t:service status;
')

dlt_allow_user_logging(atfwd_t)
