# Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

ifdef(`init_systemd', `
    gen_require(`
        class service status;
    ')
    dontaudit atfwd_t power_unit_t:service status;
')
