# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(cnss2, 1.0)

########################################
#
# Declarations
#

type cnss2_t;
type cnss2_exec_t;
files_type(cnss2_exec_t)
dev_read_sysfs(cnss2_t)
init_system_domain(cnss2_t, cnss2_exec_t)
kernel_load_module(cnss2_t)

gen_require(`
    type proc_t;
    type kmod_exec_t;
    type debugfs_t;
')

allow cnss2_t proc_t:file read_file_perms;
allow cnss2_t kmod_exec_t:file exec_file_perms;
allow cnss2_t self:fifo_file rw_fifo_file_perms;
dev_write_kmsg(cnss2_t)
files_read_kernel_modules(cnss2_t)
modutils_read_module_config(cnss2_t)
modutils_read_module_deps(cnss2_t)
dontaudit cnss2_t debugfs_t:dir { search };
