# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(curl_exec, 1.0)

########################################
##
## Declarations
##
#

type curl_exec_t;

gen_require(`
	attribute domain;
')

neverallow domain curl_exec_t:file { execute };

userdebug_or_eng(`
    gen_require(`
        type unconfined_t;
    ')
    allow unconfined_t curl_exec_t:file { getattr };
')
