# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(curl_exec, 1.0)

########################################
##
## Declarations
##
#

type curl_exec_t;

unconfined_allow_systemctl_cmds(curl_exec_t)

userdebug_or_eng(`
    gen_require(`
        type unconfined_t;
#        class service { start status stop };
    ')
#    allow unconfined_t curl_exec_t:service { start status stop };
    allow unconfined_t curl_exec_t:file { getattr };
')
