# Copyright (c) 2020 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# Copyright (c) 2022-2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(cv2x_config_app, 1.0)

type cv2x_config_app_t;
type cv2x_config_app_exec_t;
type cv2x_config_tmp_t;
type cv2x_config_app_file_t;

#domain transition if started from init
init_vendor_domain(cv2x_config_app_t, cv2x_config_app_exec_t)

transition_to_confined_domain(cv2x_config_app_t, cv2x_config_app_exec_t)

# add permissions for /var/tmp/v2x.xml
files_type(cv2x_config_app_file_t);
allow cv2x_config_app_t cv2x_config_app_file_t:file { read open getattr };

files_tmp_file(cv2x_config_tmp_t)
files_tmp_filetrans(cv2x_config_app_t, cv2x_config_tmp_t, { file lnk_file dir })
manage_files_pattern(cv2x_config_app_t, cv2x_config_tmp_t, cv2x_config_tmp_t)

telux_allow_data(cv2x_config_app_t);
telux_allow_v2x(cv2x_config_app_t);

dontaudit cv2x_config_app_t self:capability dac_override;

telux_allow_cv2x_config(cv2x_config_app_t)
