# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(diag-tcp-logging, 1.0)

type diag_tcp_logging_t;
type diag_tcp_logging_exec_t;
type diag_tcp_logging_conf_t;

gen_require(`
    type init_t;
    type data_t;
    type etc_t;
    type node_t;
    type sdcard_t;
    type mnt_t;
    type fs_t;
    type mount_copybind_t;
    type mount_t;
')

init_vendor_domain(diag_tcp_logging_t, diag_tcp_logging_exec_t)
transition_to_confined_domain(diag_tcp_logging_t, diag_tcp_logging_exec_t)

logging_send_syslog_msg(diag_tcp_logging_t)
manage_user_data_files(diag_tcp_logging_t,data_t)

allow diag_tcp_logging_t node_t:tcp_socket node_bind;
allow diag_tcp_logging_t self:tcp_socket { accept bind create listen read write };

files_type(diag_tcp_logging_conf_t)
allow diag_tcp_logging_t diag_tcp_logging_conf_t:file { read getattr open };
allow diag_tcp_logging_t etc_t:file { getattr open read };
allow diag_tcp_logging_t sdcard_t:dir { add_name create search write getattr open read remove_name };
allow diag_tcp_logging_t sdcard_t:file { create getattr open write append rename unlink };
allow diag_tcp_logging_t sdcard_t:lnk_file read;
allow diag_tcp_logging_t sdcard_t:filesystem getattr;
allow diag_tcp_logging_t fs_t:filesystem getattr;
allow diag_tcp_logging_t mnt_t:dir search;

allow mount_copybind_t diag_tcp_logging_conf_t:file {  read getattr setattr open mounton create write relabelfrom relabelto };
allow mount_copybind_t diag_tcp_logging_conf_t:dir search;
allow mount_t diag_tcp_logging_conf_t:file { getattr mounton };
