# Copyright (c) 2022,2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(edgehub, 1.0)

type edgehub_etc_conf_t;
type edgehub_data_conf_t;
type edgehub_data_certs_t;
type edgehub_data_log_t;
type cacert_t;
type clientcert_t;
type private_t;

files_type(cacert_t)
files_type(clientcert_t)
files_type(private_t)

files_type(edgehub_etc_conf_t)
files_type(edgehub_data_conf_t)
files_type(edgehub_data_certs_t)
files_type(edgehub_data_log_t)

type c2c_hub_exec_t;
type c2c_hub_t;
files_type(c2c_hub_exec_t)

type attestation_manager_exec_t;
type attestation_manager_t;
files_type(attestation_manager_exec_t)

type smq_manager_exec_t;
type smq_manager_t;
files_type(smq_manager_exec_t)

type dm_manager_exec_t;
type dm_manager_t;
files_type(dm_manager_exec_t)

gen_require(`
    type cert_t;
    type proc_t;
    type socket_device_t;
    type etc_t;
    type init_var_run_t;
    type net_conf_t;
    type systemd_resolved_var_run_t;
    type unreserved_port_t;
    type urandom_device_t;
    type system_data_t;
    type firmware_t;
    type shell_exec_t;
    type smcinvoke_device_t;
    type vendor_dmabuf_qseecomta_heap_device_t;
    type vendor_dmabuf_qseecom_heap_device_t;
    type phone_home_t;
    class service { start status stop reload };
    type mount_t;
    type sysctl_t;
')

#============= mount_copybind_t ==============
mount_copybind_file(edgehub_etc_conf_t)

# c2c_hub policy
init_vendor_domain(c2c_hub_t, c2c_hub_exec_t)
allow c2c_hub_t edgehub_data_log_t:file { open read append write create getattr };
allow c2c_hub_t edgehub_etc_conf_t:file { open read append write create getattr };
allow c2c_hub_t edgehub_data_certs_t:file { open read append write create getattr unlink};
allow c2c_hub_t edgehub_data_certs_t:dir { open search read append write create getattr add_name remove_name unlink };
firmware_read_files(c2c_hub_t);
allow c2c_hub_t shell_exec_t:file {execute read open execute_no_trans};
logging_send_syslog_msg(c2c_hub_t);
dev_read_sysfs(c2c_hub_t);
allow c2c_hub_t smcinvoke_device_t:chr_file {read write open ioctl};
allow c2c_hub_t vendor_dmabuf_qseecomta_heap_device_t:chr_file {read open ioctl};
allow c2c_hub_t vendor_dmabuf_qseecom_heap_device_t:chr_file {read open ioctl};
allow c2c_hub_t self:process { signal };
allow c2c_hub_t cert_t:dir search;
allow c2c_hub_t cert_t:file { read getattr open };
allow c2c_hub_t etc_t:file { read write getattr open mounton };
allow c2c_hub_t etc_t:lnk_file read;
allow c2c_hub_t init_var_run_t:dir search;
allow c2c_hub_t net_conf_t:file { read getattr open };
allow c2c_hub_t proc_t:file { read getattr open };
allow c2c_hub_t self:netlink_route_socket { read write bind create getattr nlmsg_read };
allow c2c_hub_t self:tcp_socket { write connect shutdown read getopt create };
allow c2c_hub_t self:udp_socket { read write create connect getattr setopt };
allow c2c_hub_t socket_device_t:dir search;
allow c2c_hub_t systemd_resolved_var_run_t:dir search;
allow c2c_hub_t systemd_resolved_var_run_t:file { read getattr open };
allow c2c_hub_t unreserved_port_t:tcp_socket name_connect;
allow c2c_hub_t urandom_device_t:chr_file { read getattr open create};
corenet_tcp_connect_http_port(c2c_hub_t);
allow c2c_hub_t edgehub_etc_conf_t:dir { open search read getattr};
allow c2c_hub_t self:fifo_file {read getattr write};
allow c2c_hub_t phone_home_t:file {getattr open read };
dontaudit c2c_hub_t sysctl_t:dir search;


# attestation_manager policy
init_vendor_domain(attestation_manager_t, attestation_manager_exec_t)
allow attestation_manager_t edgehub_data_log_t:file { open read append write create getattr };
allow attestation_manager_t edgehub_etc_conf_t:file { open read append write create getattr };
allow attestation_manager_t etc_t:file { read write mounton getattr open };
allow attestation_manager_t etc_t:lnk_file read;
allow attestation_manager_t init_var_run_t:dir search;
allow attestation_manager_t net_conf_t:file { read getattr open };
allow attestation_manager_t proc_t:file { read getattr open };
allow attestation_manager_t self:netlink_route_socket { read write bind create getattr nlmsg_read };
allow attestation_manager_t self:tcp_socket { write connect shutdown read getopt create };
allow attestation_manager_t self:udp_socket { read write create connect getattr setopt };
allow attestation_manager_t socket_device_t:dir search;
allow attestation_manager_t systemd_resolved_var_run_t:dir search;
allow attestation_manager_t systemd_resolved_var_run_t:file { read getattr open };
allow attestation_manager_t unreserved_port_t:tcp_socket name_connect;
allow attestation_manager_t urandom_device_t:chr_file { read getattr open create};
allow attestation_manager_t edgehub_etc_conf_t:dir { open search read getattr};
allow attestation_manager_t self:fifo_file {read getattr write};
allow attestation_manager_t phone_home_t:file {getattr open read };
logging_send_syslog_msg(attestation_manager_t)

# dm policy
init_vendor_domain(dm_manager_t, dm_manager_exec_t)
allow dm_manager_t edgehub_data_log_t:file { open read append write create getattr };
allow dm_manager_t edgehub_etc_conf_t:file { open read append write create getattr };
allow dm_manager_t edgehub_data_conf_t:file { open read append write create getattr };
allow dm_manager_t edgehub_data_certs_t:file { open read append write create getattr };
allow dm_manager_t edgehub_data_certs_t:dir { open search read append write create getattr add_name};
allow dm_manager_t etc_t:file { read mounton write getattr open };
allow dm_manager_t etc_t:lnk_file read;
allow dm_manager_t init_var_run_t:dir search;
allow dm_manager_t net_conf_t:file { read getattr open };
allow dm_manager_t proc_t:file { read getattr open };
allow dm_manager_t self:netlink_route_socket { read write bind create getattr nlmsg_read };
allow dm_manager_t self:tcp_socket { write connect shutdown getopt read bind create };
allow dm_manager_t self:udp_socket { read write create connect getattr setopt };
allow dm_manager_t socket_device_t:dir search;
allow dm_manager_t systemd_resolved_var_run_t:dir search;
allow dm_manager_t systemd_resolved_var_run_t:file { read getattr open };
allow dm_manager_t unreserved_port_t:tcp_socket name_connect;
allow dm_manager_t urandom_device_t:chr_file { read getattr open create};
allow dm_manager_t edgehub_etc_conf_t:dir { open search read getattr};
allow dm_manager_t self:fifo_file {read getattr write};
rw_qipcrtr_socket(dm_manager_t);
firmware_read_files(dm_manager_t)
logging_send_syslog_msg(dm_manager_t)
allow dm_manager_t vendor_dmabuf_qseecomta_heap_device_t:chr_file {read open ioctl};
allow dm_manager_t vendor_dmabuf_qseecom_heap_device_t:chr_file {read open ioctl};
allow dm_manager_t smcinvoke_device_t:chr_file {read write open ioctl};
telux_allow_loc(dm_manager_t);
allow dm_manager_t phone_home_t:file {getattr open read };
allow mount_t edgehub_etc_conf_t:file { read open };

#smq_manager policy
init_vendor_domain(smq_manager_t, smq_manager_exec_t)
allow smq_manager_t edgehub_data_log_t:file { open read append write create getattr };
allow smq_manager_t edgehub_etc_conf_t:file { open read append write create getattr };
allow smq_manager_t etc_t:file { read write mounton getattr open };
allow smq_manager_t etc_t:lnk_file read;
allow smq_manager_t init_var_run_t:dir search;
allow smq_manager_t net_conf_t:file { read getattr open };
allow smq_manager_t proc_t:file { read getattr open };
allow smq_manager_t self:netlink_route_socket { read write bind create getattr nlmsg_read };
allow smq_manager_t self:tcp_socket { write connect shutdown read getopt create };
allow smq_manager_t self:udp_socket { read write create connect getattr setopt};
allow smq_manager_t socket_device_t:dir search;
allow smq_manager_t systemd_resolved_var_run_t:dir search;
allow smq_manager_t systemd_resolved_var_run_t:file { read getattr open };
allow smq_manager_t unreserved_port_t:tcp_socket name_connect;
allow smq_manager_t urandom_device_t:chr_file { read getattr open create};
allow smq_manager_t edgehub_etc_conf_t:dir { open search read getattr};


#certs file policy
mount_copybind_dir(cacert_t)
mount_copybind_file(cacert_t)
mount_copybind_dir(clientcert_t)
mount_copybind_file(clientcert_t)
mount_copybind_file(private_t)
mount_copybind_dir(private_t)
allow c2c_hub_t cacert_t:file { getattr read open };
allow c2c_hub_t cacert_t:dir { open search read getattr};
allow c2c_hub_t clientcert_t:file { getattr read open };
allow c2c_hub_t clientcert_t:dir { open search read getattr};
allow c2c_hub_t private_t:file { getattr read open };
allow c2c_hub_t private_t:dir { open search read getattr};
allow c2c_hub_t system_data_t:dir search;
