# Copyright (c) 2022-2024 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

gen_require(`
       type udev_t;
       type mount_copybind_t;
       type mount_t;
       type ifconfig_exec_t;
       type kmod_t;
       type event_device_t;
')

allow ipacm_t qcmap_var_run_t:dir rw_dir_perms;
allow ipacm_t qcmap_var_run_t:file manage_file_perms;
dontaudit ipacm_t sysctl_vm_overcommit_t:file { read };

### ipa vlan config
type ipa_vlan_cfg_t;
files_type(ipa_vlan_cfg_t);
fs_associate(ipa_vlan_cfg_t);

allow udev_t qcmap_etc_data_t: dir { search };
allow udev_t ipa_vlan_cfg_t: file { open read write getattr };
allow udev_t system_data_t: dir { search };

## mount copybind
allow mount_copybind_t ipa_vlan_cfg_t: file { create open read write getattr setattr relabelfrom relabelto };
allow ipacm_t system_data_t:dir  { watch };
dontaudit mount_copybind_t ipa_vlan_cfg_t: file { ioctl };

## ipa_fw_initrc_t access to vlan cfg
allow ipa_fw_initrc_t ipa_vlan_cfg_t: file { open read write getattr };

## mount_t
allow mount_t ipa_vlan_cfg_t: file { create mounton open read write getattr };

## inotify on /data/ipa dir
allow ipacm_t system_data_t: dir { watch };

## ipacm script chown permissions
allow ipacm_t sysfs_t: dir { read };
allow ipacm_t sysfs_t: file { getattr };
allow ipacm_t ifconfig_exec_t: file { getattr execute read open execute_no_trans map };
allow ipacm_t ipacm_t: process { getcap };
allow ipacm_t ipacm_t: netlink_route_socket { nlmsg_write };
allow ipacm_t ipacm_var_run_t:file { open read write map };
allow ipacm_t sysfs_t: lnk_file { getattr };
allow ipacm_t proc_net_t: dir { getattr read open search };
allow ipacm_t proc_net_t: file { getattr };

## donotaudit any access to ipa dev nodes from lsmod
dontaudit kmod_t ipa_fw_device_t:chr_file  { read write };

rw_chr_files_pattern(ipacm_t, device_t, event_device_t)
mls_file_write_all_levels(ipacm_t)
mls_file_read_all_levels(ipacm_t)

