# Copyright (c) 2022-2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
       type udev_t;
       type mount_t;
       type ifconfig_exec_t;
       type kmod_t;
       type event_device_t;
')

allow ipacm_t qcmap_var_run_t:dir rw_dir_perms;
allow ipacm_t qcmap_var_run_t:file manage_file_perms;
dontaudit ipacm_t sysctl_vm_overcommit_t:file { read };

### ipa vlan config
type ipa_vlan_cfg_t;
files_type(ipa_vlan_cfg_t);
fs_associate(ipa_vlan_cfg_t);

qcmap_search_qcmap_etc_data_dirs(udev_t)
allow udev_t ipa_vlan_cfg_t: file { open read write getattr };
allow udev_t system_data_t: dir { search };

## mount copybind
mount_copybind_file(ipa_vlan_cfg_t)
allow ipacm_t system_data_t:dir  { watch };

## ipa_fw_initrc_t access to vlan cfg
allow ipa_fw_initrc_t ipa_vlan_cfg_t: file { open read write getattr };

## mount_t
allow mount_t ipa_vlan_cfg_t: file { create open read write };

## inotify on /data/ipa dir
allow ipacm_t system_data_t: dir { watch };

## ipacm script chown permissions
allow ipacm_t sysfs_t: dir { read };
allow ipacm_t sysfs_t: file { getattr };
allow ipacm_t ifconfig_exec_t: file { getattr execute read open execute_no_trans map };
allow ipacm_t ipacm_t: process { getcap signal };
allow ipacm_t ipacm_t: netlink_route_socket { nlmsg_write };
allow ipacm_t ipacm_var_run_t:file { open read write map };
allow ipacm_t sysfs_t: lnk_file { getattr };
allow ipacm_t proc_net_t: dir { getattr read open search };
allow ipacm_t proc_net_t: file { getattr };
allow ipacm_t tmpfs_t:filesystem { getattr };

## donotaudit any access to ipa dev nodes from lsmod
dontaudit kmod_t ipa_fw_device_t:chr_file  { read write };

rw_chr_files_pattern(ipacm_t, device_t, event_device_t)
mls_file_write_all_levels(ipacm_t)
mls_file_read_all_levels(ipacm_t)

