# Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(macsec, 1.0);

type mka_supplicant_conf_t;
type mka_supplicant_exec_t;
type mka_supplicant_t;
type mka_authenticator_conf_t;
type mka_authenticator_exec_t;
type mka_authenticator_t;

files_type(mka_supplicant_conf_t);
fs_associate(mka_supplicant_conf_t);
files_type(mka_authenticator_conf_t);
fs_associate(mka_authenticator_conf_t);

gen_require(`
	type unconfined_t;
	type setfiles_t;
	type wifi_data_t;
	type qcmap_cm_t;
	type qcmap_etc_data_t;
	type urandom_device_t;
	type random_device_t;
	type var_run_t;
	type proc_net_t;
        type cert_t;
	class service { start status stop reload };
')

init_vendor_domain(mka_supplicant_t, mka_supplicant_exec_t);
init_vendor_domain(mka_authenticator_t, mka_authenticator_exec_t);

ifdef(`init_systemd',`
	allow qcmap_cm_t mka_supplicant_exec_t:service { start stop status reload };
	allow qcmap_cm_t mka_authenticator_exec_t:service { start stop status reload };
')

mount_copybind_file(mka_supplicant_conf_t)
userdebug_or_eng(`
	allow unconfined_t mka_supplicant_conf_t:file getattr_file_perms;
	allow unconfined_t mka_supplicant_t:file getattr_file_perms;
')

mount_copybind_file(mka_authenticator_conf_t)
userdebug_or_eng(`
	allow unconfined_t mka_authenticator_conf_t:file getattr_file_perms;
        allow unconfined_t mka_authenticator_t:file getattr_file_perms;
')

allow mka_supplicant_t mka_supplicant_conf_t:file read_file_perms;
allow mka_supplicant_t urandom_device_t:chr_file read_chr_file_perms;
allow mka_supplicant_t random_device_t:chr_file read_chr_file_perms;
allow mka_supplicant_t var_run_t:dir { write add_name remove_name };
allow mka_supplicant_t qcmap_etc_data_t:dir { search };
allow mka_supplicant_t proc_net_t:file read_file_perms;
allow mka_supplicant_t var_run_t:sock_file { create setattr unlink};

allow mka_authenticator_t mka_authenticator_conf_t:file read_file_perms;
allow mka_authenticator_t urandom_device_t:chr_file read_chr_file_perms;
allow mka_authenticator_t random_device_t:chr_file read_chr_file_perms;
allow mka_authenticator_t var_run_t:dir { write add_name remove_name };
allow mka_authenticator_t qcmap_etc_data_t:dir { search };
allow mka_authenticator_t proc_net_t:file read_file_perms;
allow mka_authenticator_t var_run_t:sock_file { create setattr unlink};

allow mka_supplicant_t self:netlink_generic_socket { getattr create setopt bind read write };
allow mka_supplicant_t self:packet_socket { create setopt bind getopt write read ioctl };
allow mka_supplicant_t self:capability { net_raw net_admin };
allow mka_supplicant_t self:udp_socket { create ioctl };
allow mka_supplicant_t self:netlink_route_socket { getattr create setopt bind getopt write read nlmsg_read nlmsg_write };

allow mka_authenticator_t self:netlink_generic_socket { getattr create setopt bind getopt write read };
allow mka_authenticator_t self:packet_socket { create setopt bind getopt write read ioctl };
allow mka_authenticator_t self:capability { net_raw net_admin };
allow mka_authenticator_t self:udp_socket { create ioctl };
allow mka_authenticator_t self:netlink_route_socket { getattr create setopt bind getopt write read nlmsg_read nlmsg_write };

dontaudit mka_supplicant_t wifi_data_t:dir { search };
dontaudit mka_supplicant_t wifi_data_t:file read_file_perms;
dontaudit setfiles_t mka_supplicant_conf_t:file { getattr };
dontaudit mka_supplicant_t cert_t:dir { search };
