# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# All rights reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

policy_module(mrc_daemon, 1.0)

type mrc_daemon_t;
type mrc_daemon_exec_t;
type mrc_data_t;
type mrc_daemon_tmp_t;

gen_require(`
    type sysfs_t;
    type default_t;
    type tmp_t;
    type ubi_device_t;
    type proc_t;
    type socket_device_t;
    type mbim_device_t;
    type mtd_device_t;
    type datamtd_device_t;
    type mmcblock_device_t;
')

init_vendor_domain(mrc_daemon_t, mrc_daemon_exec_t)

logging_send_syslog_msg(mrc_daemon_t)
allow mrc_daemon_t self:unix_dgram_socket { write create connect };
allow mrc_daemon_t sysfs_t:dir read;
dev_rw_sysfs(mrc_daemon_t)

files_tmp_file(mrc_daemon_tmp_t)
user_data_files_type(mrc_data_t)
data_filetrans(mrc_daemon_t, mrc_data_t, { file dir })
files_tmp_filetrans(mrc_daemon_t, mrc_daemon_tmp_t, { file dir })
manage_user_data_files(mrc_daemon_t, mrc_data_t)
device_search_sockets(mrc_daemon_t, socket_device_t)
allow mrc_daemon_t mrc_data_t:dir { create rw_dir_perms };
allow mrc_daemon_t self:capability sys_resource;
allow mrc_daemon_t sysfs_t:lnk_file read;
allow mrc_daemon_t self:fifo_file { read write getattr };
allow mrc_daemon_t tmp_t:dir search;
allow mrc_daemon_t mrc_daemon_tmp_t:dir { read write add_name };
allow mrc_daemon_t mrc_daemon_tmp_t:file { create read write open getattr };
allow mrc_daemon_t self:capability sys_boot;
allow mrc_daemon_t ubi_device_t:chr_file rw_chr_file_perms;
dontaudit mrc_daemon_t default_t:dir search;
corecmd_exec_shell(mrc_daemon_t);

userdebug_or_eng(`
    rw_diag_dev(mrc_daemon_t)
')

mls_file_read_all_levels(mrc_daemon_t)
mls_file_read_all_levels(ubi_device_t)
mls_file_write_all_levels(mrc_daemon_t)
mls_file_write_all_levels(ubi_device_t)

allow mrc_daemon_t mbim_device_t:chr_file rw_chr_file_perms;
allow mrc_daemon_t mtd_device_t:chr_file { read write getattr open ioctl };
allow mrc_daemon_t datamtd_device_t:chr_file { read write getattr open ioctl};

allow mrc_daemon_t proc_t:file { getattr open read };
allow mrc_daemon_t self:socket { create ioctl read write getattr setopt };

rw_qipcrtr_socket(mrc_daemon_t);

allow mrc_daemon_t mmcblock_device_t:blk_file { getattr read open write };

allow syslogd_t self:sem { create read unix_write write };
allow syslogd_t self:shm { create read unix_read unix_write write };
dlt_allow_user_logging(mrc_daemon_t);
