# Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear.

policy_module(multiqavb_app, 1.0)

type multiqavb_app_t;
type multiqavb_app_exec_t;

init_vendor_domain(multiqavb_app_t, multiqavb_app_exec_t)

#domain transition if started from adb shell
transition_to_confined_domain(multiqavb_app_t, multiqavb_app_exec_t)

gen_require(`
        type data_t;
        type tmpfs_t;
        type sysfs_t;
        type proc_net_t;
        type proc_t;
')

logging_send_syslog_msg(multiqavb_app_t)
# To store and play recordings in data partition
manage_user_data_files(multiqavb_app_t, data_t)
logging_send_syslog_msg(multiqavb_app_t);

gptp_rw_tmpfs_files(multiqavb_app_t)
allow multiqavb_app_t proc_net_t:file { open read getattr };
allow multiqavb_app_t self:process { setsched signal };
allow multiqavb_app_t self:tcp_socket { create ioctl };
allow multiqavb_app_t self:capability { sys_nice net_raw net_admin setgid setuid };
allow multiqavb_app_t self:packet_socket { create map bind setopt getopt read write ioctl };
allow multiqavb_app_t self:udp_socket { create ioctl };
allow multiqavb_app_t self:netlink_generic_socket { create ioctl };
rw_qipcrtr_socket(multiqavb_app_t);
gptp_rw_qgptp_device(multiqavb_app_t)
allow multiqavb_app_t sysfs_t:lnk_file read;
allow multiqavb_app_t sysfs_t:file { read open };
allow multiqavb_app_t tmpfs_t:dir search;
allow multiqavb_app_t proc_t:file read_file_perms;
