# Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear.

policy_module(qavb_core, 1.0)

type qavb_core_t;
type qavb_core_exec_t;

init_vendor_domain(qavb_core_t, qavb_core_exec_t)

#domain transition if started from adb shell
transition_to_confined_domain(qavb_core_t, qavb_core_exec_t)

logging_send_syslog_msg(qavb_core_t)

rw_qipcrtr_socket(qavb_core_t);
logging_send_syslog_msg(qavb_core_t);
allow qavb_core_t self:tcp_socket { create };
allow qavb_core_t self:udp_socket { create ioctl };
