# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(qti_socksv5_se, 1.0);
type qti_socksv5_se_t;
type qti_socksv5_se_exec_t;
init_vendor_domain(qti_socksv5_se_t,qti_socksv5_se_exec_t);

files_rw_qcmap_etc_data_files(qti_socksv5_se_t);
gen_require(`
    type sysfs_t;
    type shell_exec_t;
    type node_t;
    type socket_device_t;
    type sysctl_net_t;
    type sysctl_t;
    type unreserved_port_t;
    type proc_t;
    type proc_net_t;
    type soundd_port_t;
    type http_port_t;
    type commplex_main_port_t;
    type xserver_port_t;
')

allow qti_socksv5_se_t qti_socksv5_se_exec_t:file { execute_no_trans map open read };
allow qti_socksv5_se_t qti_socksv5_se_exec_t:file getattr;
allow qti_socksv5_se_t qti_socksv5_se_exec_t:file execute;
allow qti_socksv5_se_t node_t:tcp_socket node_bind;
qcmap_search_qcmap_etc_data_dirs(qti_socksv5_se_t)
qcmap_read_qcmap_etc_data_files(qti_socksv5_se_t)
allow qti_socksv5_se_t qcmap_etc_data_t:file { watch };
allow qti_socksv5_se_t self:fifo_file { getattr read write };
allow qti_socksv5_se_t self:netlink_route_socket { bind create };
allow qti_socksv5_se_t self:netlink_socket { bind create write read };
allow qti_socksv5_se_t self:tcp_socket { bind create listen setopt accept connect getopt read write };
allow qti_socksv5_se_t socket_device_t:dir search;
allow qti_socksv5_se_t sysctl_net_t:dir search;
allow qti_socksv5_se_t sysctl_net_t:file { getattr open read };
allow qti_socksv5_se_t sysctl_t:dir search;
allow qti_socksv5_se_t unreserved_port_t:tcp_socket { name_bind name_connect };
allow qti_socksv5_se_t self:netlink_route_socket read;
allow qti_socksv5_se_t shell_exec_t:file { execute execute_no_trans open read };
allow qti_socksv5_se_t proc_t:file { read open getattr };
allow qti_socksv5_se_t proc_net_t:file read;
allow qti_socksv5_se_t self:udp_socket create;
allow qti_socksv5_se_t self:process signal;
allow qti_socksv5_se_t self:capability net_admin;
dontaudit qti_socksv5_se_t self:capability { dac_override } ;
dontaudit qti_socksv5_se_t self:capability sys_module;
allow qti_socksv5_se_t soundd_port_t:tcp_socket name_connect;
allow qti_socksv5_se_t http_port_t:tcp_socket name_connect;
allow qti_socksv5_se_t commplex_main_port_t:tcp_socket name_connect;
allow qti_socksv5_se_t xserver_port_t:tcp_socket name_connect;
dlt_allow_user_logging(qti_socksv5_se_t)
