# Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#
#     * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(qvirtmgr, 1.0)

type qvirtmgr_t;
type qvirtmgr_exec_t;
type qvirtmgr_etc_t;

type qcrosvm_exec_t;

type vm-bootsys_t;

type vm_systemrw_t;

type qvirt_tmp_t;

type gunyah_device_t;
dev_node(gunyah_device_t)

init_vendor_domain(qvirtmgr_t, qvirtmgr_exec_t)

userdebug_or_eng(`
    kernel_search_debugfs(qvirtmgr_t)
')

gen_require(`
    type trace_marker_t;
    type mount_t;
    type tracefs_t;
    type shell_exec_t;
    type device_t;
    type leprop_t;
    type leprop_sock_t;
    type fs_t;
    type setfiles_t;
    type unconfined_t;
    type mount_copybind_t;
    type mnt_t;
    type sdcard_t;
')

userdebug_or_eng(`
    gen_require(`
        type debugfs_t;
    ')
     allow qvirtmgr_t debugfs_t:file { read open execute getattr write };
')
gen_require(`
    type removable_device_t;
    type proc_t;
')
#============= qvirtmgr_t ==============
allow qvirtmgr_t qcrosvm_exec_t:file { read map execute open execute_no_trans };
allow qvirtmgr_t qvirtmgr_etc_t:file read_file_perms;
allow qvirtmgr_t self:capability { net_admin };
allow qvirtmgr_t self:tun_socket create;
allow qvirtmgr_t self:udp_socket { create ioctl };
allow qvirtmgr_t tracefs_t:dir search;
allow qvirtmgr_t trace_marker_t:file { write open };
allow qvirtmgr_t vm-bootsys_t:dir search_dir_perms;
allow qvirtmgr_t vm-bootsys_t:file { read write lock getattr open };
allow qvirtmgr_t vm-bootsys_t:filesystem getattr;
allow qvirtmgr_t vhost_device_t:file { read write };
allow qvirtmgr_t device_t:filesystem getattr;
corenet_rw_tun_tap_dev(qvirtmgr_t)
device_search_sockets(qvirtmgr_t)
dev_rw_vhost(qvirtmgr_t)
dontaudit qvirtmgr_t self:capability dac_override;

allow qvirtmgr_t device_t:sock_file write;
allow qvirtmgr_t leprop_t:unix_stream_socket connectto;
allow qvirtmgr_t leprop_sock_t:sock_file write;

allow qvirtmgr_t vm_systemrw_t:dir search_dir_perms;
allow qvirtmgr_t vm_systemrw_t:file { read write lock getattr open };
allow qvirtmgr_t vm_systemrw_t:filesystem getattr;

allow qvirtmgr_t removable_device_t:dir search_dir_perms;
allow qvirtmgr_t removable_device_t:blk_file { read write lock getattr open };
allow qvirtmgr_t removable_device_t:filesystem getattr;
allow qvirtmgr_t proc_t:file { getattr read write open };

files_tmp_file(qvirt_tmp_t);
files_tmp_filetrans(qvirtmgr_t, qvirt_tmp_t, { file dir })
allow qvirtmgr_t qvirt_tmp_t:dir { create search write add_name };
allow qvirtmgr_t qvirt_tmp_t:file { create open write };

type qvirt_data_t;
user_data_files_type(qvirt_data_t)
data_filetrans(qvirtmgr_t, qvirt_data_t, { file dir })
manage_user_data_files(qvirtmgr_t, qvirt_data_t)

allow qvirtmgr_t shell_exec_t:file { read open execute execute_no_trans };
allow qvirtmgr_t self:process { sigkill signal };

allow qvirtmgr_t self:lockdown confidentiality;
#============= vm-bootsys_t ==============
files_mountpoint(vm-bootsys_t)
allow mount_t vm-bootsys_t:filesystem relabelfrom;

files_mountpoint(vm_systemrw_t)
allow mount_t vm_systemrw_t:filesystem relabelfrom;

#============= gunyah_device_t ==============
rw_chr_files_pattern(qvirtmgr_t, device_t, gunyah_device_t)
#============ mount_copybind_t ==============
allow  mount_copybind_t qvirtmgr_etc_t:file { create getattr open read write relabelfrom relabelto setattr };

allow  mount_t qvirtmgr_etc_t:file { getattr mounton };

allow  setfiles_t qvirtmgr_etc_t:file { getattr };
allow  qvirtmgr_etc_t fs_t:filesystem { associate };
allow  unconfined_t qvirtmgr_etc_t:file { getattr open read write };
#============ sdcard =======================
allow qvirtmgr_t mnt_t:dir { search };
allow qvirtmgr_t sdcard_t:dir { create search write add_name };
allow qvirtmgr_t sdcard_t:file { create write open };
logging_send_syslog_msg(qvirtmgr_t)
