# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(rbm_daemon, 1.0)

type rbm_daemon_t;
type rbm_daemon_exec_t;
type rbm_data_t;

gen_require(`
         type proc_t;
         type mtd_device_t;
         type socket_device_t;
         type telsdk_data_t;
         type sysdevice_sysfs_t;
         type telux_access_platform_ota_mgmt_t;
         type init_runtime_t;
         type syslogd_runtime_t;
         type mmcblock_device_t;
         type tmp_t;
 ')

init_vendor_domain(rbm_daemon_t, rbm_daemon_exec_t)

user_data_files_type(rbm_data_t)
manage_user_data_files(rbm_daemon_t, rbm_data_t)
allow rbm_daemon_t self:fifo_file { getattr read write};
rw_qipcrtr_socket(rbm_daemon_t);
logging_send_syslog_msg(rbm_daemon_t);

allow rbm_daemon_t proc_t:file { getattr open read };
allow rbm_daemon_t mtd_device_t:chr_file { ioctl open read write };
allow rbm_daemon_t socket_device_t:dir search;
allow rbm_daemon_t telsdk_data_t:file { getattr open append };
ro_tel_conf_file(rbm_daemon_t)
allow rbm_daemon_t sysdevice_sysfs_t:file { read open };
allow rbm_daemon_t telux_access_platform_ota_mgmt_t:file getattr;
allow rbm_daemon_t init_runtime_t:dir search;
allow rbm_daemon_t syslogd_runtime_t:dir search;
allow rbm_daemon_t mmcblock_device_t:blk_file { read write open };
allow rbm_daemon_t self:process signal;
dontaudit rbm_daemon_t tmp_t:dir search;

mls_file_read_all_levels(rbm_daemon_t)
