# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(rbm_daemon, 1.0)

type rbm_daemon_t;
type rbm_daemon_exec_t;
type rbm_data_t;

gen_require(`
         type devlog_t;
         type syslogd_t;
         type proc_t;
         type mtd_device_t;
 ')

init_vendor_domain(rbm_daemon_t, rbm_daemon_exec_t)

user_data_files_type(rbm_data_t)
manage_user_data_files(rbm_daemon_t, rbm_data_t)
allow rbm_daemon_t self:fifo_file { getattr read write};
allow rbm_daemon_t self:qipcrtr_socket create;
allow rbm_daemon_t devlog_t:sock_file write;
allow rbm_daemon_t proc_t:file { getattr open read };
allow rbm_daemon_t mtd_device_t:chr_file { ioctl open read write };
allow rbm_daemon_t syslogd_t:unix_dgram_socket sendto;

mls_file_read_all_levels(rbm_daemon_t)