# Copyright (c) 2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# Changes from Qualcomm Innovation Center, Inc. are provided under the following license:
#
# Copyright (c) 2022-2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(sensor_hal_daemon, 1.0)

type sensor_hal_daemon_t;
type sensor_hal_daemon_exec_t;
type sensor_hal_daemon_socket_t;
type sensor_hal_daemon_conf_t;
type sensor_hal_daemon_tmp_t;
type sensor_hal_daemon_etc_t;
type sensor_util_t;
attribute sensor_util_rw_t;

gen_require(`
  type fs_t;
  type setfiles_t;
  type unconfined_t;
  type default_t;
  type mount_t;
  type mount_copybind_t;
  type proc_t;
  type gptp_socket_t;
  type qgptp_t;
  type gptp_tmpfs_t;
  type loc_socket_t;
  type loc_hald_t;
  type urandom_device_t;
  type tmpfs_t;
  type boot_kpi_values_t;
  type loc_etc_t;
  type loc_data_t;
  type user_tmp_t;
  type qgptp_device_t;
  type node_t;
  type proc_net_t;
  type sysctl_t;
  type unreserved_port_t;
  type system_data_t;
  type loc_t;
  type loc_tmp_t;
')

userdebug_or_eng(`
  allow sensor_hal_daemon_t unconfined_t:unix_stream_socket connectto;
  allow unconfined_t sensor_hal_daemon_etc_t:file { open getattr read write };
  allow unconfined_t sensor_hal_daemon_tmp_t:sock_file { setattr unlink write };
')

allow sensor_hal_daemon_t proc_t:file { read getattr open };
allow sensor_hal_daemon_t self:process signal;
allow mount_copybind_t sensor_util_rw_t:file { getattr relabelto setattr read open };
allow mount_t sensor_util_rw_t:file { getattr mounton };
allow sensor_util_rw_t fs_t:filesystem associate;

# Non Functional denials
dontaudit mount_copybind_t sensor_hal_daemon_conf_t:file { ioctl };
dontaudit mount_copybind_t sensor_util_t:file { ioctl };
dontaudit mount_copybind_t sensor_hal_daemon_etc_t:file { ioctl };

# Adding unique context to /etc/sensorhal
allow mount_t sensor_util_t:dir search;
allow setfiles_t sensor_util_t:dir search;
allow unconfined_t sensor_util_t:dir { read getattr open search };
allow mount_copybind_t sensor_util_t:dir list_dir_perms;
allow sensor_hal_daemon_t system_data_t:dir { watch watch_reads };
dontaudit init_t sensor_util_t:dir search;

typeattribute sensor_util_t sensor_util_rw_t;

dontaudit init_t sensor_util_t:file write;
rw_qipcrtr_socket(sensor_hal_daemon_t);
allow mount_copybind_t sensor_util_t:file { write create};
allow sensor_hal_daemon_t self:socket { write read getattr create setopt };
allow sensor_hal_daemon_t sensor_hal_daemon_socket_t:file { write create unlink open getattr };
allow sensor_hal_daemon_t default_t:dir search;
allow setfiles_t sensor_util_t:file { relabelto getattr };
allow setfiles_t sensor_util_rw_t:file relabelto;
allow unconfined_t sensor_util_t:file { read write getattr open };

init_vendor_domain(sensor_hal_daemon_t, sensor_hal_daemon_exec_t)
# Using sensor socket and configuration access from sensor_hal_daemon.if
sensor_dev_socket(sensor_hal_daemon_t)
sensor_configuration_access(sensor_hal_daemon_t)
telux_allow_platform(sensor_hal_daemon_t)

# Sensor_hal_daemon needs access to open/read the senors.conf
dev_rw_sysfs(sensor_hal_daemon_t)
device_read_iio_device(sensor_hal_daemon_t)
allow sensor_hal_daemon_t self:fifo_file { write read };
dev_read_input(sensor_hal_daemon_t)

files_type(sensor_hal_daemon_conf_t)
files_type(sensor_hal_daemon_socket_t)
dev_node(sensor_hal_daemon_socket_t)
device_manage_socket_file(sensor_hal_daemon_t, sensor_hal_daemon_socket_t)
allow sensor_hal_daemon_t sensor_hal_daemon_socket_t:dir { search write add_name remove_name };
allow sensor_hal_daemon_t sensor_hal_daemon_socket_t:sock_file { create unlink };

#someip related denials
allow sensor_hal_daemon_t gptp_socket_t:dir search;
allow sensor_hal_daemon_t gptp_socket_t:sock_file { create write read getattr open};
allow sensor_hal_daemon_t gptp_tmpfs_t:file { read write map open};
allow sensor_hal_daemon_t qgptp_t:unix_stream_socket connectto;
allow sensor_hal_daemon_t qgptp_device_t:chr_file { open read write };
allow sensor_hal_daemon_t self:netlink_route_socket { bind create nlmsg_read read write };
allow sensor_hal_daemon_t self:capability net_admin;
allow sensor_hal_daemon_t self:tcp_socket { accept bind create getattr listen read setopt shutdown write };
allow sensor_hal_daemon_t self:udp_socket { bind create getopt read setopt write };
allow sensor_hal_daemon_t self:unix_stream_socket { accept listen };
allow sensor_hal_daemon_t sensor_hal_daemon_tmp_t:dir { add_name search write remove_name};
allow sensor_hal_daemon_t sensor_hal_daemon_tmp_t:file { create lock open write };
allow sensor_hal_daemon_t sensor_hal_daemon_tmp_t:sock_file { create setattr unlink };
allow sensor_hal_daemon_t tmpfs_t:dir { write search};
allow sensor_hal_daemon_t loc_etc_t:file { create write read open getattr };
allow sensor_hal_daemon_t loc_data_t:dir search;
allow sensor_hal_daemon_t loc_socket_t:dir { write search getattr add_name };
allow sensor_hal_daemon_t loc_socket_t:sock_file { create setattr write };
allow sensor_hal_daemon_t loc_hald_t:unix_dgram_socket { sendto };
allow loc_hald_t sensor_hal_daemon_t:unix_dgram_socket { sendto };
allow sensor_hal_daemon_t node_t:tcp_socket node_bind;
allow sensor_hal_daemon_t node_t:udp_socket node_bind;
allow sensor_hal_daemon_t unreserved_port_t:tcp_socket name_bind;
allow sensor_hal_daemon_t unreserved_port_t:udp_socket name_bind;
allow sensor_hal_daemon_t user_tmp_t:sock_file write;
allow sensor_hal_daemon_t proc_net_t:file read;
allow sensor_hal_daemon_t sysctl_t:dir search;
allow sensor_hal_daemon_t sensor_hal_daemon_etc_t:file { open getattr read };
allow sensor_hal_daemon_t urandom_device_t:chr_file { open read };
allow sensor_hal_daemon_t sensor_util_t:file write;
allow sensor_hal_daemon_t boot_kpi_values_t:file getattr;
allow mount_copybind_t sensor_hal_daemon_etc_t:file { getattr read open create write setattr };
allow sensor_hal_daemon_etc_t fs_t:filesystem { associate };
allow setfiles_t sensor_hal_daemon_etc_t:file { getattr };
allow mount_copybind_t sensor_hal_daemon_conf_t:file { create open read getattr setattr write };
allow mount_t sensor_hal_daemon_etc_t:file { getattr mounton };
allow mount_t sensor_hal_daemon_conf_t:file { getattr mounton };
allow sensor_hal_daemon_tmp_t tmpfs_t:filesystem associate;
files_tmp_filetrans(sensor_hal_daemon_t, sensor_hal_daemon_tmp_t, {sock_file file });
manage_sock_files_pattern(sensor_hal_daemon_t, sensor_hal_daemon_tmp_t, sensor_hal_daemon_tmp_t);
manage_files_pattern(sensor_hal_daemon_t, sensor_hal_daemon_tmp_t, sensor_hal_daemon_tmp_t);
allow sensor_hal_daemon_t loc_tmp_t:sock_file { write };
allow sensor_hal_daemon_t loc_t:unix_stream_socket { connectto };
