# Copyright (c) 2020-2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#  Changes from Qualcomm Innovation Center are provided under the following license:
#
#  Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#
#     * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(smqlnx, 1.0)

type smqlnx_t;
type smqlnx_exec_t;
type smqlnx_data_t;
type smqlnx_var_run_t;
type smqlnx_sdcard_data_t;

init_vendor_domain(smqlnx_t, smqlnx_exec_t)

#domain transition if started from adb shell
transition_to_confined_domain(smqlnx_t, smqlnx_exec_t)

gen_require(`
    type net_conf_t;
    type proc_t;
    type var_run_t;
    type init_var_run_t;
    type default_t;
    type systemd_resolved_var_run_t;
    type sysctl_vm_overcommit_t;
    type sysctl_vm_t;
    type qwes_mink_socket_t;
    type qwesd_t;
    type fs_t;
    type mnt_t;
    type sdcard_t;
    type cert_t;
    type dns_port_t;
    type loc_hald_t;
    type ldconfig_tmp_t;
    type ota_data_conf_t;
')

fs_associate(smqlnx_data_t);
allow smqlnx_t fs_t:filesystem getattr;
allow smqlnx_t net_conf_t:file { rename getattr write getattr read create open append unlink };
allow smqlnx_t proc_t:file { rename getattr write getattr read create open append unlink };
allow smqlnx_t smqlnx_data_t:dir create;
allow smqlnx_t smqlnx_data_t:file { write getattr read create open append rename unlink lock };
dontaudit smqlnx_t sysctl_vm_overcommit_t:file { read open };
dontaudit smqlnx_t sysctl_vm_t:dir search;
files_read_etc_files(smqlnx_t);

#============= smqlnx_t with telux ==============
telux_allow_tel(smqlnx_data_t);
telux_allow_qmi_client(smqlnx_data_t);
access_telux_files(smqlnx_data_t);
telux_allow_tel(smqlnx_exec_t);
telux_allow_qmi_client(smqlnx_exec_t);
access_telux_files(smqlnx_exec_t);
telux_allow_tel(smqlnx_t);
telux_allow_qmi_client(smqlnx_t);
access_telux_files(smqlnx_t);
user_data_files_type(smqlnx_data_t);
manage_user_data_files(smqlnx_exec_t, smqlnx_data_t);

# Allow telsdk data clients
telux_allow_data(smqlnx_t);

#============= smqlnx_t with remote server for registration ==============
allow smqlnx_t default_t:dir search;
allow smqlnx_t default_t:lnk_file read;
allow smqlnx_t init_var_run_t:dir search;
kernel_dontaudit_search_sysctl(smqlnx_t);
read_files_pattern(smqlnx_t, systemd_resolved_var_run_t, systemd_resolved_var_run_t);
allow smqlnx_t self:capability2 wake_alarm;
allow smqlnx_t self:netlink_route_socket { write getattr read bind create nlmsg_read };
allow smqlnx_t self:tcp_socket { create setopt connect write getopt getattr read shutdown };
allow smqlnx_t self:udp_socket { read write create connect getattr };
corenet_tcp_connect_http_port(smqlnx_t);
files_pid_file(smqlnx_var_run_t);
files_pid_filetrans(smqlnx_t, smqlnx_var_run_t, { file dir })
manage_files_pattern(smqlnx_t, var_run_t, smqlnx_var_run_t);
allow smqlnx_t dns_port_t:tcp_socket name_connect;

# allow smqlnx to read dev/daig file
userdebug_or_eng(`rw_diag_dev(smqlnx_t)')

# read build.prop
leprop_read_props(smqlnx_t)

#============= smqlnx_t with qwes for license check ==============
allow smqlnx_t qwes_mink_socket_t:sock_file write;
allow smqlnx_t qwesd_t:unix_stream_socket connectto;

#============= smqlnx_t to set supplementary groups ==============
allow smqlnx_t self:capability { setgid kill };
dontaudit smqlnx_t self:capability dac_override;
dontaudit smqlnx_t self:process sigkill;
allow smqlnx_t self:process signal;

#============= smqlnx_t to search sdcard and mnt ==============
manage_files_pattern(smqlnx_t, sdcard_t, sdcard_t);
allow smqlnx_t sdcard_t:filesystem getattr;
allow smqlnx_t sdcard_t:dir create;
allow smqlnx_t mnt_t:dir search;
user_data_files_type(smqlnx_sdcard_data_t);
allow smqlnx_t smqlnx_data_t:lnk_file read;
allow smqlnx_t sdcard_t:lnk_file read;

#============= smqlnx_t to search open and read firmware files ===
firmware_read_files(smqlnx_t);

#============= smqlnx_t to search open and read certificate files ===
miscfiles_read_generic_certs(smqlnx_t);

#============  Allow unconfined access for smqlnx_exec_t ===========
userdebug_or_eng('
    can_exec(unconfined_t, smqlnx_exec_t);
')

#============ Allow accessing configuration file and certificates ===
read_c2c_conf_file(smqlnx_t);
read_c2c_cert_file(smqlnx_t);

#============= Access non audio hal access ==============
non_audio_hal_access(smqlnx_t)
telux_allow_loc(smqlnx_t);

#============= Allow location services ==============
allow loc_hald_t smqlnx_t:unix_dgram_socket sendto;

#============= Allow ldconfig read file ==============
allow smqlnx_t ldconfig_tmp_t:file read;

#============= Allow ota data configuration ==============
allow smqlnx_t ota_data_conf_t:dir rw_dir_perms;
allow smqlnx_t ota_data_conf_t:file { read getattr open };
