# Copyright (c) 2021 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# Changes from Qualcomm Innovation Center are provided under the following license:
# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#
#     * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(softsku, 1.0)

type softsku_t;
type softsku_exec_t;
type softsku_data_conf_t;
files_type(softsku_data_conf_t)
init_vendor_domain(softsku_t, softsku_exec_t)

gen_require(`
    type net_conf_t;
    type etc_t;
    type systemd_resolved_var_run_t;
    type socket_device_t;
    type init_var_run_t;
    type qwes_mink_socket_t;
    type qwesd_t;
    type unreserved_port_t;
    type urandom_device_t;
    type proc_t;
    type system_data_t;
    type mount_copybind_t;
    type mount_t;
')

read_c2c_conf_file(softsku_t);
read_c2c_cert_file(softsku_t);

# For using QWES framework
allow softsku_t qwes_mink_socket_t:sock_file write;
allow softsku_t qwesd_t:unix_stream_socket connectto;

# For connection to remote server on cloud
allow softsku_t net_conf_t:file { getattr read open unlink };
files_read_etc_files(softsku_t) #/etc/nsswitch.conf
read_files_pattern(softsku_t, systemd_resolved_var_run_t, systemd_resolved_var_run_t);
allow softsku_t self:udp_socket { read write create connect getattr };
allow softsku_t self:netlink_route_socket { write getattr read bind create nlmsg_read };
allow softsku_t self:tcp_socket { create_socket_perms name_connect };
corenet_tcp_connect_http_port(softsku_t);
allow softsku_t socket_device_t:dir search;
allow softsku_t init_var_run_t:dir search;
allow softsku_t system_data_t:dir search;
allow softsku_t softsku_data_conf_t:file { getattr read open };
allow softsku_t softsku_data_conf_t:dir { open search read getattr};
allow softsku_t unreserved_port_t:tcp_socket { name_bind name_connect };
allow softsku_t urandom_device_t:chr_file { read getattr open };
allow softsku_t proc_t:file { read getattr open };

#============= mount_copybind_t ==============
allow mount_copybind_t softsku_data_conf_t:dir { open read search mounton getattr };
allow mount_copybind_t softsku_data_conf_t:file { setattr read create write relabelfrom getattr relabelto open rename };

#============= unconfined_mount_t ==============
allow mount_t softsku_data_conf_t:file { getattr mounton };
