# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#
#     * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(softsku_daemon, 1.0)

type softsku_daemon_t;
type softsku_daemon_exec_t;
type softsku_rc_t;
init_vendor_domain(softsku_daemon_t, softsku_daemon_exec_t)

gen_require(`
    type socket_device_t;
    type smcinvoke_device_t;
    type devlog_t;
    type syslogd_t;
    type persist_t;
    type qseecomd_persist_t;
    type qwes_data_t;
    type unreserved_port_t;
    type node_t;
')

allow softsku_daemon_t socket_device_t:dir search;
allow softsku_daemon_t self:tcp_socket { create_socket_perms name_connect accept listen };
allow softsku_daemon_t smcinvoke_device_t:chr_file { read write open ioctl};
allow softsku_daemon_t self: process { signal };
allow softsku_daemon_t softsku_rc_t:file { getattr read open };
allow softsku_daemon_t qwes_data_t:dir {search write add_name};
allow softsku_daemon_t unreserved_port_t:tcp_socket { name_bind };
allow softsku_daemon_t node_t:tcp_socket { node_bind };

filetrans_pattern(softsku_daemon_t, persist_t, qseecomd_persist_t, { file dir });
manage_user_data_files(softsku_daemon_t, qseecomd_persist_t);
allow softsku_daemon_t qseecomd_persist_t:dir manage_dir_perms;

logging_send_syslog_msg(softsku_daemon_t);