#Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
#SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(ssgtzd, 1.0)

type ssgtzd_t;
type ssgtzd_exec_t;
type ssgtzd_etc_ta_config_t;
type ssgtzd_sock_t;

files_type(ssgtzd_sock_t)
dev_node(ssgtzd_sock_t)
device_manage_socket_file(ssgtzd_t, ssgtzd_sock_t)

init_vendor_domain(ssgtzd_t, ssgtzd_exec_t)

gen_require(`
        type unconfined_t;
        type tmp_t;
        class service { start status };
')
#============= ssgtzd_t ==============
allow ssgtzd_t self:fifo_file write;
allow ssgtzd_t self:process signal;
rw_shutdown_qipcrtr_socket(ssgtzd_t);
logging_send_syslog_msg(ssgtzd_t);
#!!!! This avc can be allowed using the boolean 'nscd_use_shm'
allow ssgtzd_t self:unix_stream_socket { accept listen };
allow ssgtzd_t ssgtzd_sock_t:sock_file { create unlink setattr};
allow ssgtzd_t ssgtzd_etc_ta_config_t:dir { open getattr search read };
allow ssgtzd_t ssgtzd_etc_ta_config_t:file { read getattr open };
allow ssgtzd_t tmp_t:dir search;
#============= unconfined_t ==============
allow unconfined_t ssgtzd_exec_t:service { start status };
allow unconfined_t ssgtzd_etc_ta_config_t:dir { open getattr search read };
allow unconfined_t ssgtzd_etc_ta_config_t:file { read getattr open };
rw_smcinvoke_dev_node(ssgtzd_t)
