#Copyright (c) 2022-2023 Qualcomm Innovation Center, Inc. All rights reserved.
#SPDX-License-Identifier: BSD-3-Clause-Clear


## <summary> eth_pwr_power_test_app </summary>
