# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(telux_crypto_console_app, 1.0)

type telux_crypto_console_app_t;
type telux_crypto_console_app_exec_t;

init_vendor_domain(telux_crypto_console_app_t, telux_crypto_console_app_exec_t)

transition_to_confined_domain(telux_crypto_console_app_t, telux_crypto_console_app_exec_t)

# Generic allow rule for console apps
telux_allow_console_apps(telux_crypto_console_app_t)

telux_allow_crypto(telux_crypto_console_app_t)
telux_allow_sec_key_ops(telux_crypto_console_app_t)
telux_allow_sec_sign_ops(telux_crypto_console_app_t)
telux_allow_sec_encryption_ops(telux_crypto_console_app_t)

# Allow searching/reading through firmware directories
firmware_search_dirs(telux_crypto_console_app_t)
firmware_read_files(telux_crypto_console_app_t)
