# Copyright (c) 2022-2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(telux_thermal_server, 1.0)

type telux_thermal_server_t;
type telux_thermal_server_exec_t;

gen_require(`
    type default_t;
    type sysctl_t;
    type sysctl_vm_t;
    type thermal-engine_t;
    type sysctl_vm_overcommit_t;
')

init_vendor_domain(telux_thermal_server_t, telux_thermal_server_exec_t)

# Permissions required for telsdk config file access
access_telux_files(telux_thermal_server_t)

# Permission required for a QCSI application.
allow telux_thermal_server_t self:socket create_socket_perms;
device_search_sockets(telux_thermal_server_t);

# Allow logging to syslog
logging_send_syslog_msg(telux_thermal_server_t);

# Allow thermal service to write on pipe
allow telux_thermal_server_t self:fifo_file rw_fifo_file_perms;

# Allow thermal service to write/read/create/getattr/setopt on qipcrtr socket
rw_qipcrtr_socket(telux_thermal_server_t)

# Allow thermal service to search sys and vm directory to read and open vm overcommit memory
allow telux_thermal_server_t sysctl_t:dir search;
allow telux_thermal_server_t sysctl_vm_t:dir search;

# Allow thermal service to communicate thermal-engine client socket
allow telux_thermal_server_t thermal-engine_t:unix_stream_socket connectto;

# Allow thermal service to open and read vm overcommit memory
allow telux_thermal_server_t sysctl_vm_overcommit_t:file { read open };

# Allow thermal service to communicate with netlink socket
allow telux_thermal_server_t self:netlink_generic_socket { write getattr setopt read bind create };

#Allow signals to this process
allow telux_thermal_server_t self:process signal;

dontaudit telux_thermal_server_t default_t:dir search;

ro_thermal_etc_conf(telux_thermal_server_t)
# Allow thermal service to communicate to thermal-engine socket
wo_thermal_sock_conf(telux_thermal_server_t)
