# Copyright (c) 2020-2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

## <summary> telux_policies </summary>

# Domain transition from unconfined to confined
# @brief : This interface allows transition of a running application, defined by
# "process context",which is started with unconfined selinux permissions
# to a confined domain defined by the "domain context".
#
# Parameters:
#   1) Domain context (app context)
#   2) Process context

interface(`transition_to_confined_domain',`
    gen_require(`
        type unconfined_t;
        type default_t;
        role unconfined_r;
        type user_tty_device_t;
    ')
    domtrans_pattern(unconfined_t, $2, $1)
    role unconfined_r types $1;
    getty_use_fds($1)
    allow $1 user_tty_device_t:chr_file read;
    dontaudit $1 default_t:dir { search };
')

# Telux logging interfaces
# @brief: The logging interfaces allow the domain to be restricted to
# read/write permissions to telux logging file. There is an interface to allow
# complete access to the telux log and config files as well.
#

# @brief:  This interface allows domain context to read from telux log files
#
# Parameters:
#   1) Domain context

interface(`read_telux_log_file',`
    gen_require(`
        type telsdk_data_t;
    ')
    read_user_data_files($1, telsdk_data_t)
')

# @brief:  This interface allows domain context to write to telux log files
#
# Parameters:
#   1) Domain context

interface(`write_telux_log_file',`
    gen_require(`
        type telsdk_data_t;
    ')
    manage_user_data_files($1, telsdk_data_t)

    # Any process that needs to write to log file will also need to be able to write
    # logs to syslog since critical errors while logging are logged to syslog
    logging_send_syslog_msg($1)
')

# @brief:  This interface allows domain context to read and write
# telux log files. It also allows domain to read telsdk configuration
# details.
#
# Parameters:
#   1) Domain context

interface(`access_telux_files',`
    gen_require(`
        type telsdk_etc_t;
        type telsdk_data_t;
        type socket_device_t;
    ')
    allow $1 telsdk_etc_t:file { read open };
    # To enable security context transistion from data_t to telsdk_data_t of files created in /data
    data_filetrans($1, telsdk_data_t, file);

    read_telux_log_file($1)
    write_telux_log_file($1)
    # To allow libraries to log to diag
    userdebug_or_eng(`
        rw_diag_dev($1)
    ')
    dev_read_sysfs($1) # Requried for diag logging.

    # To allow libraries to log to logcat
    allow $1 socket_device_t:dir search;
')

# Qmi client interfaces
# @brief: The QMI client interfaces allow the domain to contain a qmi
# client by providing necessary permissions for the QMI IPC.
#
# Parameters:
#   1) Domain context

interface(`telux_allow_qmi_client',`
    gen_require(`
      type devlog_t;
    ')
    # Below permissions are required for QMI client IPC
    allow $1 devlog_t:sock_file write;
    allow $1 self:socket create_socket_perms;
    allow $1 self:fifo_file rw_fifo_file_perms;
')

# Telephony client interfaces
# @brief: The telephony client interface allow the domain to contain a telephony
# client by providing necessary permissions for its operation.
#
# Parameters:
#   1) Domain context

interface(`telux_allow_tel',`
    gen_require(`
      type rilmuxd_t;
      type qmux_radio_sock_t;
      type devlog_t;
    ')
    # To log to diag
    userdebug_or_eng(`
        rw_diag_dev($1)
    ')
    manage_sock_files_pattern($1, qmux_radio_sock_t, qmux_radio_sock_t)
    device_search_sockets($1, socket_device_t)
    allow $1 self:fifo_file rw_fifo_file_perms;
    allow $1 self:socket create_socket_perms;
    allow $1 rilmuxd_t:unix_stream_socket connectto;
    logging_send_syslog_msg($1)
    allow $1 self:unix_dgram_socket { write create connect };
    access_telux_files($1)
')

# Data client interfaces
# @brief: The data client interfaces allow the domain to contain a telux data
# client by providing necessary permissions for its operation.
#
# Parameters:
#   1) Domain context

interface(`telsdk_read_qcmap_etc_data_files',`
    gen_require(`
      type qcmap_etc_data_t;
      attribute domain_can_read_systemdata;
    ')
    typeattribute $1 domain_can_read_systemdata;
    read_system_data_files($1, qcmap_etc_data_t)
')

interface(`telux_allow_data',`
    telsdk_read_qcmap_etc_data_files($1)
    qnetmgr_write_data_sock_files($1)
    qnetmgr_use_unix_stream_sockets($1)
    dev_read_sysfs($1)
    allow $1 self:capability net_admin;
    allow $1 self:netlink_socket create_socket_perms;
    access_telux_files($1)
')

# Audio client interfaces
# @brief: The audio client interfaces allow the domain to contain a telux audio
# client by providing necessary permissions for its operation.
#
# Parameters:
#   1) Domain context

interface(`telux_allow_audio',`

    telux_allow_qmi_client($1)
    access_telux_files($1)
')

# Location client interfaces
# @brief: The location client interfaces allow the domain to contain a telux location
# client by providing necessary permissions for its operation.
#
# Parameters:
#   1) Domain context

interface(`telux_allow_loc',`
     gen_require(`
      type loc_etc_t;
      type loc_socket_t;
      type loc_hald_t;
    ')

    # To allow location client to sets a specific gid
    allow $1 self:capability setgid;

    # To allow QDgnssRemoteApi
    allow $1 self:socket { getattr setopt write read};
    logging_send_syslog_msg($1);

    # To allow location client to read config from gps.conf file
    allow $1 loc_etc_t:file read_file_perms;

    # To allow socket communication between location client and hal daemon
    device_search_sockets($1)
    manage_sock_files_pattern($1, loc_socket_t, loc_socket_t)
    dgram_send_pattern($1, loc_socket_t, loc_socket_t, loc_hald_t)

    # To allow loc client to log to diag, access debug file system
    userdebug_or_eng(`
        rw_diag_dev($1)
        kernel_manage_debugfs($1)
    ')

    corecmd_exec_shell($1)
    kernel_read_system_state($1)
    access_telux_files($1)
')

# Thermal client interfaces
# @brief: The Thermal client interfaces allow the domain to contain a telux thermal
# clients by providing necessary permissions for its operation.
#

# @brief: This interface provides permissions for the operation
# of thermalshutdown manager.
#
# Parameters:
#   1) Domain context

interface(`telux_allow_thermalshutdown',`
    telux_allow_qmi_client($1)
    access_telux_files($1)
')

# @brief: This interface provides permissions for the operation
# of thermal manager.
#
# Parameters:
#   1) Domain context

interface(`telux_allow_thermalmanager',`
    gen_require(`
       type devlog_t;
    ')
    dev_read_sysfs($1)
    allow $1 devlog_t:sock_file write;
    allow $1 self:socket create;
    access_telux_files($1)
')

# Power client interfaces
# @brief: The power client interface allow the domain to contain a telux power
# client by providing necessary permissions for its operation.
#
# Parameters:
#   1) Domain context

interface(`telux_allow_power',`
    telux_allow_qmi_client($1)
    access_telux_files($1)
')

# Modem config client interface
# @brief: The modem config client interface allow the domain to contain a telux config
# client by providing necessary permissions for its operation.
#
# Parameters:
#   1) Domain context

interface(`telux_allow_modemconfig',`
    telux_allow_qmi_client($1)
    logging_send_syslog_msg($1)
    # To log to diag
    userdebug_or_eng(`
        rw_diag_dev($1)
    ')
    access_telux_files($1)
    device_search_sockets($1)
')
