#Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
#SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type cpu_sysfs_t;
')

allow thermal-engine_t cpu_sysfs_t:dir {read search};
allow thermal-engine_t cpu_sysfs_t:file read_file_perms;
dlt_allow_user_logging(thermal-engine_t);
