# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear
type init_qti_etc_t;
files_type(init_qti_etc_t);

gen_require(`
    type post_boot_script_t;
    type sysfs_t;
    type debugfs_t;
    type tracefs_t;
    type etc_t;
    type configfs_t;
    type fs_t;
    type unconfined_t;
')

userdebug_or_eng(`
    dev_write_kmsg(post_boot_script_t)
    mls_file_write_all_levels(post_boot_script_t)
    allow unconfined_t vendor_t:dir { getattr open read search };
    allow unconfined_t qmi_fw_conf_t:file { getattr open read write };
')

dontaudit post_boot_script_t sysfs_t:dir { write add_name };
dontaudit post_boot_script_t sysfs_t:file create;
dontaudit domain self:process getsched;
allow post_boot_script_t init_qti_etc_t:file { read open write getattr };
allow post_boot_script_t debugfs_t:dir search;
allow post_boot_script_t tracefs_t:dir { search getattr };
allow post_boot_script_t tracefs_t:file { open write };
allow post_boot_script_t device_t:chr_file { getattr setattr };
allow post_boot_script_t self:capability fowner;
allow post_boot_script_t self:capability chown;
allow post_boot_script_t sysfs_t:file setattr;
allow post_boot_script_t self:lockdown confidentiality;

type vendor_dmabuf_qseecomta_heap_device_t;
dev_node(vendor_dmabuf_qseecomta_heap_device_t);

allow post_boot_script_t etc_t:file { getattr read open };
allow post_boot_script_t configfs_t:dir { search write add_name create getattr setattr };
dontaudit post_boot_script_t self:capability { dac_read_search dac_override };

type dm_device_t;
dev_node(dm_device_t);

type mtd_block_t;
dev_node(mtd_block_t);

type ubiblock_device_t;
dev_node(ubiblock_device_t);

type mmcblock_device_t;
dev_node(mmcblock_device_t);

allow tftp_server_t rfs_persist_t:file unlink;

type vendor_t;
allow domain vendor_t:dir search;

type qmi_fw_conf_t;
allow domain qmi_fw_conf_t:file { read getattr open };

mount_copybind_file(qmi_fw_conf_t)
allow qmi_fw_conf_t fs_t:filesystem associate;

allow init_t cpu_sysfs_t:dir { add_name search write };
allow init_t cpu_sysfs_t:file { create open write };
