#  Copyright (c) 2022-2024 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#
#     * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

type init_qti_etc_t;
files_type(init_qti_etc_t);

gen_require(`
    type post_boot_script_t;
    type sysfs_t;
    type debugfs_t;
    type tracefs_t;
    type etc_t;
    type configfs_t;
    type mount_copybind_t;
    type fs_t;
    type mount_t;
    type unconfined_t;
')

userdebug_or_eng(`
    dev_write_kmsg(post_boot_script_t)
    mls_file_write_all_levels(post_boot_script_t)
    allow unconfined_t vendor_t:dir { getattr open read search };
    allow unconfined_t qmi_fw_conf_t:file { getattr open read write };
')

dontaudit post_boot_script_t sysfs_t:dir { write add_name };
dontaudit post_boot_script_t sysfs_t:file create;
dontaudit domain self:process getsched;
allow post_boot_script_t init_qti_etc_t:file { read open write getattr };
allow post_boot_script_t debugfs_t:dir search;
allow post_boot_script_t tracefs_t:dir { search getattr };
allow post_boot_script_t tracefs_t:file { open write };
allow post_boot_script_t device_t:chr_file { getattr setattr };
allow post_boot_script_t self:capability fowner;
allow post_boot_script_t self:capability chown;
allow post_boot_script_t sysfs_t:file setattr;
allow post_boot_script_t self:lockdown confidentiality;

type vendor_dmabuf_qseecomta_heap_device_t;
dev_node(vendor_dmabuf_qseecomta_heap_device_t);

allow post_boot_script_t etc_t:file { getattr read open };
allow post_boot_script_t configfs_t:dir { search write add_name create getattr setattr };
dontaudit post_boot_script_t self:capability { dac_read_search dac_override };

type dm_device_t;
dev_node(dm_device_t);

type mtd_block_t;
dev_node(mtd_block_t);

type ubiblock_device_t;
dev_node(ubiblock_device_t);

type mmcblock_device_t;
dev_node(mmcblock_device_t);

allow tftp_server_t rfs_persist_t:file unlink;

type vendor_t;
allow domain vendor_t:dir search;

type qmi_fw_conf_t;
allow domain qmi_fw_conf_t:file { read getattr open };

allow mount_copybind_t qmi_fw_conf_t:file { create getattr open setattr write };
dontaudit mount_copybind_t qmi_fw_conf_t:file { ioctl };
allow mount_t qmi_fw_conf_t:file mounton;
allow qmi_fw_conf_t fs_t:filesystem associate;
