# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear
policy_module(wlan_test_app, 1.0)
type wlan_test_app_t;
type wlan_test_app_exec_t;

# domain transition if started from init
init_vendor_domain(wlan_test_app_t, wlan_test_app_exec_t)

# domain transition if started from adb shell
transition_to_confined_domain(wlan_test_app_t, wlan_test_app_exec_t)

gen_require(`
        type etc_t;
')

# Generic allow rule for console apps
telux_allow_console_apps(wlan_test_app_t)

# Obtain required permissions from telux_allow_wlan
telux_allow_wlan(wlan_test_app_t)
