# Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(acme, 1.0)
type acme_t;
type acme_exec_t;

#domain transition if started from init
init_vendor_domain(acme_t, acme_exec_t)

transition_to_confined_domain(acme_t, acme_exec_t)

# V2x client Permissions
telux_allow_v2x(acme_t)

# Data Client Permissions
telux_allow_data(acme_t)

gen_require(`
    type default_t;
    type init_var_run_t;
    type etc_t;
    type systemd_resolved_var_run_t;
')

dev_write_kmsg(acme_t)
corecmd_exec_shell(acme_t)
kernel_read_system_state(acme_t)
dontaudit acme_t default_t:dir search;
allow acme_t self:process signal;

read_files_pattern(acme_t, etc_t, etc_t)
read_lnk_files_pattern(acme_t, etc_t, etc_t)
allow acme_t init_var_run_t:dir search_dir_perms;

read_files_pattern(acme_t, systemd_resolved_var_run_t, systemd_resolved_var_run_t)
userdom_manage_user_home_dirs(acme_t)
dontaudit acme_t self:capability sys_module;
allow acme_t self:netlink_route_socket create_netlink_socket_perms;

# Networking related policies.
kernel_read_network_state(acme_t)
sysnet_read_config(acme_t)
allow acme_t self:udp_socket create_socket_perms;
# Required for tcp/udp port range  2600-2604, used for SPS and event flows.
corenet_udp_bind_zebra_port(acme_t)
corenet_udp_bind_generic_node(acme_t)
# Required for tcp/udp port 9000, used for listening to events.
corenet_udp_bind_cslistener_port(acme_t)
corenet_udp_bind_all_unreserved_ports(acme_t)
dev_read_urand(acme_t)

#diag is required for qcmap/dsi logging
rw_diag_dev(acme_t);
#required to set supplementary group from process.
allow acme_t self:capability setgid;
