# Copyright (c) 2020 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(cv2x_rx_app, 1.0)

type cv2x_rx_app_t;
type cv2x_rx_app_exec_t;

init_vendor_domain(cv2x_rx_app_t, cv2x_rx_app_exec_t)
transition_to_confined_domain(cv2x_rx_app_t, cv2x_rx_app_exec_t)

gen_require(`
    type netmgr_connect_socket_t;
')
telux_allow_v2x(cv2x_rx_app_t);
telux_allow_data(cv2x_rx_app_t);
write_telux_log_file(cv2x_rx_app_t);
telux_allow_qmi_client(cv2x_rx_app_t);

kernel_read_network_state(cv2x_rx_app_t)
corenet_udp_bind_all_unreserved_ports(cv2x_rx_app_t)
corenet_udp_bind_generic_node(cv2x_rx_app_t)
write_sock_files_pattern(cv2x_rx_app_t, netmgr_connect_socket_t, netmgr_connect_socket_t)

dontaudit cv2x_rx_app_t self:capability dac_override;
dontaudit cv2x_rx_app_t self:capability sys_module;
allow cv2x_rx_app_t self:udp_socket { ioctl read create connect write getopt setopt accept bind listen shutdown };
allow cv2x_rx_app_t self:netlink_route_socket { nlmsg_read read create write getattr bind };

userdebug_or_eng(`
    rw_diag_dev(cv2x_rx_app_t)
')

