# Copyright (c) 2021 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(savari, 1.0)

type savari_blackbox_exec_t;
type savari_bsmd_exec_t;
type savari_cv2xd_exec_t;
type savari_mgmtd_exec_t;
type savari_savapp_exec_t;
type savari_gnsscand_exec_t;
type savari_smgrd_exec_t;
type savari_sv2xsecd_exec_t;
type savari_tc_exec_t;
type savari_initrc_exec_t;

type savari_blackbox_t;
type savari_bsmd_t;
type savari_cv2xd_t;
type savari_mgmtd_t;
type savari_savapp_t;
type savari_gnsscand_t;
type savari_smgrd_t;
type savari_sv2xsecd_t;
type savari_tc_t;
type savari_initrc_t;

type savari_data_t;

type savari_blackbox_lock_t;
type savari_bsmd_lock_t;
type savari_cv2xd_lock_t;
type savari_gnsscand_lock_t;
type savari_sv2xsecd_lock_t;
type savari_pki_lock_t;
type savari_mgmt_lock_t;
type savari_tc_lock_t;

type savari_cv2xd_socket_t;
type savari_gnsscand_socket_t;
type savari_fac_socket_t;
type savari_mgmt_socket_t;
type savari_net_socket_t;
type savari_sv2xsecd_socket_t;
type savari_smgrd_socket_t;
type savari_tc_socket_t;
type savari_tap_socket_t;

type savari_shm_t;

user_data_files_type(savari_data_t)

files_type(savari_blackbox_lock_t)
files_type(savari_bsmd_lock_t)
files_type(savari_cv2xd_lock_t)
files_type(savari_gnsscand_lock_t)
files_type(savari_sv2xsecd_lock_t)
files_type(savari_pki_lock_t)
files_type(savari_mgmt_lock_t)
files_type(savari_tc_lock_t)

files_type(savari_cv2xd_socket_t)
files_type(savari_gnsscand_socket_t)
files_type(savari_fac_socket_t)
files_type(savari_mgmt_socket_t)
files_type(savari_net_socket_t)
files_type(savari_sv2xsecd_socket_t)
files_type(savari_smgrd_socket_t)
files_type(savari_tc_socket_t)
files_type(savari_tap_socket_t)

files_type(savari_shm_t)

#domain transition if started from init
init_vendor_domain(savari_blackbox_t,savari_blackbox_exec_t)
init_vendor_domain(savari_bsmd_t,savari_bsmd_exec_t)
init_vendor_domain(savari_cv2xd_t,savari_cv2xd_exec_t)
init_vendor_domain(savari_gnsscand_t,savari_gnsscand_exec_t)
init_vendor_domain(savari_smgrd_t,savari_smgrd_exec_t)
init_vendor_domain(savari_sv2xsecd_t,savari_sv2xsecd_exec_t)
init_vendor_domain(savari_savapp_t,savari_savapp_exec_t)

#allow unconfined domain for start-stop-daemon
init_script_domain(savari_initrc_t,savari_initrc_exec_t)

#allow unconfined domain for start_sav_mgmtd
init_script_domain(savari_mgmtd_t, savari_mgmtd_exec_t)

#transition to confined domain for savapp
transition_to_confined_domain(savari_savapp_t, savari_savapp_exec_t);

gen_require(`
    type tmp_t;
    type tmpfs_t;
    type syslogd_t;
    type node_t;
    type unreserved_port_t;
    type kinematics_sc_exec_t;
    type kinematics_sc_t;
    type syslogd_exec_t;
    type netutils_t;
    type netutils_exec_t;
    type aerolink_t;
    type aerolink_exec_t;
    type proc_net_t;
    type default_t;
    type aerolink_data_t;
    type user_tmp_t;
    type systemd_tmpfiles_t;
')

#start_savari_stack_le
allow savari_initrc_t self:fifo_file rw_fifo_file_perms;
manage_user_data_files(savari_initrc_t,savari_data_t)
allow savari_initrc_t kinematics_sc_exec_t:file exec_file_perms;
allow savari_initrc_t netutils_exec_t:file exec_file_perms;
manage_user_data_files(savari_initrc_t,aerolink_data_t);
#cv2x-config
telux_allow_v2x(savari_initrc_t)
telsdk_read_qcmap_etc_data_files(savari_initrc_t)
unconfined_domain(savari_initrc_t)
corecmd_exec_shell(savari_initrc_t)
#transition apps spawned from start script to their own domain
domtrans_pattern(savari_initrc_t,savari_bsmd_exec_t,savari_bsmd_t)
domtrans_pattern(savari_initrc_t,savari_cv2xd_exec_t,savari_cv2xd_t)
domtrans_pattern(savari_initrc_t,savari_gnsscand_exec_t,savari_gnsscand_t)
domtrans_pattern(savari_initrc_t,savari_smgrd_exec_t,savari_smgrd_t)
domtrans_pattern(savari_initrc_t,savari_sv2xsecd_exec_t,savari_sv2xsecd_t)
domtrans_pattern(savari_initrc_t,savari_savapp_exec_t,savari_savapp_t)
domtrans_pattern(savari_initrc_t,syslogd_exec_t,syslogd_t)
domtrans_pattern(savari_initrc_t,netutils_exec_t,netutils_t)
domtrans_pattern(savari_initrc_t,kinematics_sc_exec_t,kinematics_sc_t)
domtrans_pattern(savari_initrc_t,aerolink_exec_t,aerolink_t)

#syslog log to /data/savari/logs
manage_user_data_files(syslogd_t,savari_data_t)
allow syslogd_t device_t:sock_file unlink;
allow syslogd_t savari_initrc_t:process getattr;
allow syslogd_t init_var_run_t:lnk_file read_lnk_file_perms;

#gnsscand
filetrans_pattern(savari_gnsscand_t, tmp_t, savari_gnsscand_lock_t, file)
filetrans_pattern(savari_gnsscand_t, tmp_t, savari_gnsscand_socket_t, sock_file)
allow savari_gnsscand_t savari_sv2xsecd_t:unix_dgram_socket sendto;
allow savari_gnsscand_t self:tcp_socket create_socket_perms;
allow savari_gnsscand_t self:socket create_socket_perms;
allow savari_gnsscand_t savari_gnsscand_lock_t:file manage_file_perms;
allow savari_gnsscand_t savari_gnsscand_socket_t:sock_file manage_sock_file_perms;
manage_user_data_files(savari_gnsscand_t,savari_data_t)
allow savari_gnsscand_t unreserved_port_t:tcp_socket name_connect;
allow savari_gnsscand_t syslogd_t:unix_dgram_socket sendto;
allow savari_gnsscand_t savari_bsmd_t:unix_dgram_socket sendto;
allow savari_gnsscand_t device_t:sock_file write; #syslogd
allow savari_gnsscand_t savari_sv2xsecd_socket_t:sock_file write_sock_file_perms;
allow savari_gnsscand_t savari_fac_socket_t:sock_file write_sock_file_perms;
allow savari_gnsscand_t syslogd_var_run_t:sock_file write_sock_file_perms;
telux_allow_data(savari_gnsscand_t)
telux_allow_loc(savari_gnsscand_t)
dontaudit savari_gnsscand_t self:capability {sys_module kill};
allow savari_gnsscand_t self:process signal;

#smgrd
allow savari_smgrd_t self:tcp_socket create_stream_socket_perms;
filetrans_pattern(savari_smgrd_t, tmp_t, savari_smgrd_socket_t, sock_file)
allow savari_smgrd_t savari_smgrd_socket_t:sock_file manage_sock_file_perms;
allow savari_smgrd_t node_t:tcp_socket node_bind;
logging_send_syslog_msg(savari_smgrd_t);

#CV2Xd
allow savari_cv2xd_t self:netlink_socket rw_socket_perms;
allow savari_cv2xd_t self:udp_socket create_socket_perms;
allow savari_cv2xd_t self:socket rw_socket_perms;
allow savari_cv2xd_t proc_net_t:file read_file_perms;
filetrans_pattern(savari_cv2xd_t, tmp_t, savari_cv2xd_socket_t, sock_file)
filetrans_pattern(savari_cv2xd_t, tmp_t, savari_cv2xd_lock_t, file)
filetrans_pattern(savari_cv2xd_t, tmpfs_t, savari_shm_t, file)
allow savari_cv2xd_t savari_cv2xd_socket_t:sock_file manage_sock_file_perms;
allow savari_cv2xd_t savari_cv2xd_lock_t:file manage_file_perms;
allow savari_cv2xd_t sysfs_t:file read_file_perms;
allow savari_cv2xd_t savari_shm_t:file manage_file_perms;
allow savari_cv2xd_t self:netlink_route_socket create_netlink_socket_perms;
allow savari_cv2xd_t unreserved_port_t:udp_socket name_bind;
allow savari_cv2xd_t node_t:tcp_socket node_bind;
allow savari_cv2xd_t node_t:udp_socket node_bind;
allow savari_cv2xd_t default_t:dir search;
allow savari_cv2xd_t savari_fac_socket_t:sock_file write_sock_file_perms;
allow savari_cv2xd_t savari_savapp_t:unix_dgram_socket sendto;
allow savari_cv2xd_t syslogd_var_run_t:sock_file write_sock_file_perms;
dontaudit savari_cv2xd_t self:capability sys_module;
manage_user_data_files(savari_cv2xd_t, savari_data_t)
telux_allow_v2x(savari_cv2xd_t)
telux_allow_data(savari_cv2xd_t)
telux_allow_loc(savari_cv2xd_t)

#BSMd
allow savari_bsmd_t proc_t:file read_file_perms;
filetrans_pattern(savari_bsmd_t, tmp_t, savari_bsmd_lock_t, file)
filetrans_pattern(savari_bsmd_t, tmp_t, savari_fac_socket_t, sock_file)
filetrans_pattern(savari_bsmd_t, tmpfs_t, savari_shm_t, file)
allow savari_bsmd_t savari_bsmd_lock_t:file manage_file_perms;
allow savari_bsmd_t savari_fac_socket_t:sock_file manage_sock_file_perms;
allow savari_bsmd_t savari_smgrd_socket_t:sock_file write_sock_file_perms;
allow savari_bsmd_t savari_cv2xd_socket_t:sock_file write_sock_file_perms;
allow savari_bsmd_t savari_sv2xsecd_socket_t:sock_file write_sock_file_perms;
manage_user_data_files(savari_bsmd_t,savari_data_t)
corecmd_exec_shell(savari_bsmd_t)
allow savari_bsmd_t self:capability sys_nice;
allow savari_bsmd_t self:process setsched;
allow savari_bsmd_t savari_smgrd_t:unix_stream_socket connectto;
allow savari_bsmd_t savari_cv2xd_t:unix_stream_socket connectto;
allow savari_bsmd_t savari_sv2xsecd_t:unix_stream_socket connectto;
allow savari_bsmd_t self:udp_socket create_socket_perms;
allow savari_bsmd_t savari_shm_t:file manage_file_perms;
allow savari_bsmd_t tmpfs_t:filesystem getattr;
allow savari_bsmd_t syslogd_t:unix_dgram_socket sendto;
allow savari_bsmd_t savari_savapp_t:unix_dgram_socket sendto;
allow savari_bsmd_t init_var_run_t:dir search_dir_perms;
allow savari_bsmd_t syslogd_var_run_t:dir search_dir_perms;
allow savari_bsmd_t syslogd_var_run_t:sock_file write_sock_file_perms;
allow savari_bsmd_t savari_blackbox_t:unix_dgram_socket sendto;
telux_allow_qmi_client(savari_bsmd_t)

#sv2xsecd
aerolink_allow_use(savari_sv2xsecd_t)
aerolink_allow_sign(savari_sv2xsecd_t)
aerolink_allow_verify(savari_sv2xsecd_t)
filetrans_pattern(savari_sv2xsecd_t, tmp_t, savari_sv2xsecd_lock_t, file)
filetrans_pattern(savari_sv2xsecd_t, tmp_t, savari_sv2xsecd_socket_t, sock_file)
allow savari_sv2xsecd_t savari_sv2xsecd_lock_t:file manage_file_perms;
allow savari_sv2xsecd_t savari_sv2xsecd_socket_t:sock_file manage_sock_file_perms;
manage_user_data_files(savari_sv2xsecd_t,savari_data_t)
corecmd_exec_shell(savari_sv2xsecd_t)
allow savari_sv2xsecd_t proc_t:file read_file_perms;
allow savari_sv2xsecd_t savari_fac_socket_t:sock_file write_sock_file_perms;
allow savari_sv2xsecd_t savari_savapp_t:unix_dgram_socket sendto;
allow savari_sv2xsecd_t syslogd_var_run_t:sock_file write_sock_file_perms;
allow savari_sv2xsecd_t syslogd_var_run_t:dir search_dir_perms;
allow savari_sv2xsecd_t init_var_run_t:dir search_dir_perms;
dontaudit savari_sv2xsecd_t self:capability kill;
allow savari_sv2xsecd_t self:process signal;

#savapp
filetrans_pattern(savari_savapp_t, tmp_t, savari_fac_socket_t, sock_file)
filetrans_pattern(savari_savapp_t, user_tmp_t, savari_fac_socket_t, sock_file)
allow savari_savapp_t savari_fac_socket_t:sock_file manage_sock_file_perms;
manage_user_data_files(savari_savapp_t,savari_data_t)
allow savari_savapp_t savari_bsmd_t:unix_dgram_socket sendto;
allow savari_savapp_t savari_sv2xsecd_t:unix_dgram_socket sendto;
allow savari_savapp_t savari_cv2xd_t:unix_dgram_socket sendto;
allow savari_savapp_t savari_cv2xd_socket_t:sock_file write_sock_file_perms;
allow savari_savapp_t savari_sv2xsecd_socket_t:sock_file write_sock_file_perms;

#blackbox
filetrans_pattern(savari_blackbox_t,tmp_t, savari_fac_socket_t, sock_file)
filetrans_pattern(savari_blackbox_t,tmp_t, savari_blackbox_lock_t,file)
allow savari_blackbox_t savari_fac_socket_t:sock_file manage_sock_file_perms;
allow savari_blackbox_t savari_blackbox_lock_t:file manage_file_perms;
corecmd_exec_shell(savari_blackbox_t)
manage_user_data_files(savari_blackbox_t,savari_data_t)
allow savari_blackbox_t proc_t:file read_file_perms;
allow savari_blackbox_t self:udp_socket create_socket_perms;
allow savari_blackbox_t savari_smgrd_socket_t:sock_file write_sock_file_perms;
allow savari_blackbox_t savari_smgrd_t:unix_stream_socket connectto;

#systemd_tmpfiles
allow systemd_tmpfiles_t proc_net_t:file read_sock_file_perms;
allow systemd_tmpfiles_t savari_cv2xd_socket_t:sock_file getattr_sock_file_perms;
allow systemd_tmpfiles_t savari_fac_socket_t:sock_file getattr_sock_file_perms;
allow systemd_tmpfiles_t savari_gnsscand_socket_t:sock_file getattr_sock_file_perms;
allow systemd_tmpfiles_t savari_smgrd_socket_t:sock_file getattr_sock_file_perms;
allow systemd_tmpfiles_t savari_sv2xsecd_socket_t:sock_file getattr_sock_file_perms;
allow systemd_tmpfiles_t savari_net_socket_t:sock_file getattr_sock_file_perms;
allow systemd_tmpfiles_t tmp_t:sock_file getattr_sock_file_perms;