# Copyright (c) 2022-2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear


policy_module(auto_audio_hal, 1.0)

gen_require(`
    type audio_hal_etc_t;
')
mount_copybind_file(audio_hal_etc_t)

type audio_delta_acdb_data_t;
user_data_files_type(audio_delta_acdb_data_t)
