# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

allow syslogd_t self:sem { create read unix_write write };
allow syslogd_t self:shm { create read unix_read unix_write write };
