# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

allow ifconfig_t qcmap_cm_t:netlink_kobject_uevent_socket rw_socket_perms;
