# Copyright (c) 2024-2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type qcmap_var_run_t;
')
allow ifconfig_t qcmap_cm_t:netlink_kobject_uevent_socket rw_socket_perms;
dontaudit ifconfig_t qcmap_var_run_t:file { write };
