#Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
#SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type sysdevice_sysfs_t;
    type cpu_sysfs_t;
    type sysfs_t;
    type tmp_t;
    type qcmap_tmp_t;
    type tuicoreservice_dev_t;
    type sdcard_t;
    type sysdevice_sysfs_t;
    type binderfs_t;
    type debugfs_t;
    type hwbinder_device_t;
    type vndbinder_device_t;
    type compensator_etc_t;
')

# /lib/systemd/systemd-udevd is invoking
# automountsdcard.sh script from /etc/udev/script/.
# The script is reading /sys/devices/soc0/machine`
# Adding dontaudit rule for suppress the denial
dontaudit udev_t sysdevice_sysfs_t:file { open read };
allow udev_t cpu_sysfs_t:file write;
allow udev_t sysfs_t:dir setattr;
allow udev_t sysfs_t:file setattr;
allow udev_t tmp_t:dir search;
allow udev_t sysfs_t:lnk_file setattr;
allow udev_t qcmap_tmp_t:dir { write search add_name };
allow udev_t qcmap_tmp_t:lnk_file create;
allow udev_t tuicoreservice_dev_t:chr_file setattr;
allow udev_t sdcard_t:dir getattr;
allow udev_t binderfs_t:dir { getattr open read search setattr };
allow udev_t binderfs_t:file { getattr setattr };
allow udev_t hwbinder_device_t:chr_file { getattr setattr };
allow udev_t vndbinder_device_t:chr_file { getattr setattr };

dontaudit udev_t debugfs_t:dir setattr;
dontaudit udev_t init_runtime_t:file { open read };
allow udev_t compensator_etc_t:file { open read getattr };
