# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(telux_security_server, 1.0)

type telux_security_server_t;
type telux_security_server_exec_t;

# domain transition if started from init
init_vendor_domain(telux_security_server_t, telux_security_server_exec_t)

# domain transition if started from adb shell
transition_to_confined_domain(telux_security_server_t, telux_security_server_exec_t)

# Permissions required for telsdk config file access
access_telux_files(telux_security_server_t)

# Permission required for a QCSI application.
allow telux_security_server_t self:socket create_socket_perms;
device_search_sockets(telux_security_server_t);

# Signalling for ssr whenever required
allow telux_security_server_t self:process signal;

# Allow security service to write/read/create/getattr on qipcrtr socket
allow telux_security_server_t self:qipcrtr_socket { write read create getattr };

#Allow setting secondary groups
allow telux_security_server_t self:capability setgid;

telux_allow_wifi_con_sec(telux_security_server_t)
