# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear
#

### ddr_min_freq_change_service

policy_module(ddr_min_freq_change, 1.0)

type ddr_min_freq_change_t;
type ddr_min_freq_change_exec_t;

gen_require(`
    type cpu_sysfs_t;
    type proc_t;
')

init_script_domain(ddr_min_freq_change_t, ddr_min_freq_change_exec_t)

allow ddr_min_freq_change_t cpu_sysfs_t:dir { write search add_name };
allow ddr_min_freq_change_t cpu_sysfs_t:file { write create open };
allow ddr_min_freq_change_t proc_t:file { read write open getattr };
