#Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
#SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type system_data_t;
    type aerolink_t;
')

allow aerolink_t system_data_t:dir { search getattr read };
